<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>platform</contextName>
    <property name="log.path" value="${catalina.home:-.}/logs" />
    <property name="log.name" value="awekit-core" />

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/${log.name}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

    <!-- application.yml文件未配置spring.profiles的话，则日志级别使用下面的默认配置 -->
    <logger name="com.simiam.awekit" level="INFO" additivity="false">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

    <!-- 测试环境+开发环境. -->
    <springProfile name="test,dev">
        <logger name="com.simiam.awekit" level="DEBUG" />
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prod">
        <logger name="com.simiam.awekit" level="DEBUG"/>
    </springProfile>
</configuration>